<% content_for :left do %>
<h1>Add a User</h1>
<% if @errors %>
	<% @errors.each do |error| %>
	<p class="alert-danger"><%= error %></p>
	<% end %>
<% end %>
<form action="/users/create" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" name="first_name" placeholder="John">
	</div>
	<div class="form-group">
		<label for="last_name">Last Name</label>
		<input type="text" class="form-control" name="last_name" placeholder="Doe">
	</div>
	<div class="form-group">
		<label for="email_address">Email</label>
		<input type="text" class="form-control" name="email_address" placeholder="johndoe@xyz.com">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" name="password" placeholder="Password">
	</div>
	<button type="submit" class="btn btn default">Submit</button>
</form>
<a href="/users"><h3>Back</h3></a>
<% end %>
<% content_for :right do %>
<p>(This is the right side)</p>
<% end %>