@import "bootstrap-sprockets";
@import "bootstrap";

/* users/show */

#show {
	margin: 25px;
}

.bold {
	font-size: 1.5em;
	vertical-align: top;
	padding: 3px;
}

.user {
	padding-top: 7px;
	vertical-align: top;
}

.links {
	margin: 15px;
}
